name: Publish Allure Report

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Wait for CI artifact
        uses: fountainhead/action-wait-for-check@v1.0.0
        with:
          checkName: "run-tests"
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Allure HTML artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-html-report
          path: ./allure-report

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Allure Report to Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./allure-report

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
